$accent: #a3bbc8;
$accent-dark: #436372;
$accent-darkest: #243f4d;

$black-title: #1a1a1a;
$latte: #fef7f0;
$default: #7b7b7b;

%dmsans-400 {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: "Rubik-Light", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik-Bold", sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}

%main-btn {
  background-color: $accent;
  @extend %rubik-500;
  font-size: 15px;
  color: #fff;
  padding: 23px 100px 23px 25px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/arrow-button.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 10px;
    right: 10px;
    top: 27px;
  }
}

%filter-title {
  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 23px;
  }

  &__button {
    margin-left: 15px;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    & + .mixitup-control-active {
      color: $black-title;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
  }
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
