@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 45px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $accent-dark;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    color: #436372;
  }
}

.user-nav {
  display: flex;
  &__search {
    padding: 20px;
    background-color: #edf1f4;
    border-radius: 50%;
  }
  &__link {
    position: relative;
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -8px;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
  }
  &__link-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fcd7b6;
    margin: 0 15px;
    width: 177px;
    border-radius: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/stick.png);
      height: 32px;
      width: 1px;
    }
  }
  &__search-block {
    position: relative;
  }
}

@import "media";
