@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 45px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  padding-left: 176px;
  &__list {
    display: flex;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $accent-dark;
  }
  &__item {
    padding-right: 35px;
  }
  &__link {
    color: #436372;
  }
}

.user-nav {
  display: flex;

  &__num-like {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 11px;
    right: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
  }

  &__cart {
    position: relative;
    background-color: #fcd7b6;
    padding: 20px 40px 20px 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 52px;
  }

  &__num-cart {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 11px;
    right: 30px;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
  }

  &__search {
    margin-right: 30px;
  }

  &__menu {
    margin-left: 20px;
  }

  &__like {
    position: relative;
    background-color: #fcd7b6;
    padding: 20px 30px 20px 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 52px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/stick.png);
      height: 32px;
      width: 1px;
      top: 13px;
      right: 2px;
    }
  }

  &__search-block {
    position: relative;
  }
}

.footer {
  background-color: #fff;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 67px;
  border-bottom: 1px solid #dae4e9;
  @extend %rubik-400;
  color: #7b7b7b;

  &__item-account {
    margin-right: 85px;
  }

  &__item-servises {
    transform: translateX(-59px);
  }

  &__item-newsletter {
    max-width: 275px;
  }

  &__item-text {
    margin-bottom: 37px;
    font-size: 14px;
    line-height: 24px;
  }

  &____item-form {
    display: flex;
    align-items: center;
  }

  &__item-input {
    width: 170px;
    padding: 12px 16px;
    background-color: $latte;
    color: #234969;
    @extend %dmsans-400;
    font-size: 12px;
    border: none;
  }

  &__item-button {
    width: 100px;
    height: 40px;
    @extend %dmsans-400;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    border: none;
    background-color: $accent;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
    margin-bottom: 14px;
  }

  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $default;
  }

  .footer-logo__img {
    transform: translateY(-35%);
    margin-bottom: 9px;
  }

  &__item-contacts {
    max-width: 200px;
    margin-right: 30px;
  }

  &__contacts-item {
    margin-bottom: 10px;
  }

  &__contacts-link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $default;
  }
}

.footer-bottom {
  padding: 28px 0 40px;
  display: flex;
  justify-content: space-between;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: $default;

  &__list {
    display: flex;
  }

  &__nav-link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $default;
  }

  &__item + .footer-bottom__item {
    padding-left: 30px;
  }
}

.container--middle {
  max-width: 1490px;
  margin: 0 auto;
}
.top-slider {
  &__box {
    background-color: #fcd7b6;
    padding: 100px 15px 60px;
    max-width: 1770px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-top: 115px;
    padding-left: 130px;
  }
  &__title {
    max-width: 480px;
    text-transform: uppercase;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $accent-darkest;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 375px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 55px;
  }

  &__link {
    @extend %main-btn;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      padding-left: 12px;
      button {
        padding: 0;
        font-size: 10.8px;
        @extend %rubik-500;
        color: $accent-darkest;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
      }
      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
  &__servises {
    &-inner {
      background-color: $latte;
      display: flex;
      justify-content: space-between;
    }

    &-title {
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
    }

    &-text {
      @extend %dmsans-400;
      font-size: 16px;
      line-height: 30px;
      color: #585858;
    }

    &-item {
      padding: 35px 145px 35px 230px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../images/servise-1.png);
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
        left: 147px;
        top: 48px;
      }
    }

    &-item--delivery {
      border-left: 1px solid #e8e4df;
      border-right: 1px solid #e8e4df;
      &::before {
        content: "";
        background-image: url(../images/servise-2.png);
      }
    }

    &-item--payment {
      &::before {
        content: "";
        background-image: url(../images/servise-3.png);
        left: 151px;
        top: 38px;
      }
    }
  }
}

.product {
  padding: 58px 0 0;

  // &__title {
  //   @extend %filter-title;
  // }
  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 23px;
  }

  &__button {
    margin-left: 15px;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    & + .mixitup-control-active {
      color: $black-title;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
  }

  &__category {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 90px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 30px;
  }

  &-item {
    padding: 30px 20px 20px;
    text-align: center;
    max-width: 270px;
    min-height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img-box {
      position: relative;
      overflow: hidden;
    }

    &__img {
      height: 215px;
      width: 230px;
      object-fit: contain;
      object-position: center;
    }
    &:hover {
      .product-item__link-box {
        transform: translateY(0);
      }
    }

    &__link-box {
      position: absolute;
      transition: 0.3s;
      bottom: 15px;
      display: flex;
      left: 15px;
      transform: translateY(300%);
    }

    &__link {
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      background-color: #fff;
      padding: 12px;
      margin-left: 15px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      &:hover {
        background-color: $accent;
        path {
          fill: #fff;
        }
      }
    }

    &__title {
      @extend %dmsans-500;
      font-size: 16px;
      line-height: 35px;
      padding: 49px 0 0px;
      color: $accent-darkest;
    }

    &__price {
      @extend %dmsans-700;
      font-size: 16px;
      color: $accent;
      margin-bottom: 15px;
    }
  }
}

.product-special {
  padding: 190px 0 90px;

  &__items {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    background-color: #feefe2;
    padding: 0 145px 85px 145px;
  }

  &__item--right {
    padding: 0 46px 85px 145px;
  }

  &__item-title {
    font-size: 26px;
    line-height: 32px;
    color: $accent-darkest;
    @extend %dmsans-700;
    margin-bottom: 20px;
  }

  &__item-title--right {
    max-width: 350px;
    margin-bottom: 10px;
  }

  &__item-descr {
    font-size: 16px;
    line-height: 30px;
    color: $accent-darkest;
    @extend %dmsans-400;
    margin-bottom: 50px;
  }

  &__item-img {
    height: 413px;
    width: 230px;
    margin-top: -97px;
    margin-right: 20px;
  }

  &__item-content {
    padding-top: 105px;
  }

  &__item-content--right {
    padding-left: 40px;
    padding-top: 92px;
  }

  &__item-link {
    color: $accent-dark;
    font-size: 15px;
    @extend %rubik-500;
    padding: 20px 85px 20px 19px;
    border: 1px solid #b3b7b5;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrow-btn-dark.svg);
      background-repeat: no-repeat;
      height: 9px;
      width: 22px;
      top: 26px;
      right: 19px;
    }
  }
}

.product-new {
  padding-bottom: 120px;
  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 23px;
  }

  &__button {
    margin-left: 15px;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    & + .mixitup-control-active {
      color: $black-title;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__item-content {
    position: absolute;
    top: 35px;
    left: 35px;
    max-width: 180px;
  }

  &__item-title {
    font-size: 20px;
    @extend %dmsans-700;
    color: #191919;
    margin-bottom: 10px;
  }

  &__item-descr {
    font-size: 16px;
    color: $accent;
    @extend %dmsans-700;
  }
}

.product-video {
  background-image: url(../images/bg-video.png);
  background-color: #cacaca;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 435px;

  &__link {
    display: block;
    text-align: center;
    padding-top: 190px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/play-btn.svg);
      background-repeat: no-repeat;
      width: 135px;
      height: 135px;
      transform: translateX(-45%);
    }
  }
}

.insights {
  margin-bottom: -330px;
  background-color: $latte;
  &__inner {
    transform: translateY(-347px);
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
  }

  &__link {
    padding-right: 25px;
    @extend %dmsans-700;
    font-size: 16px;
    color: #191919;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/insights-angle.svg);
      background-repeat: no-repeat;
      height: 17px;
      width: 8px;
      top: 5px;
      right: 0px;
    }
  }

  &__item-img {
    width: 370px;
    height: 250px;
  }

  &__item-content {
    padding: 35px 30px 15px 30px;
    background-color: #fff;
    position: relative;
  }

  &__item-news {
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: $accent;
    @extend %poppins-700;
    padding: 6px 30px;
    border-radius: 15px;
    top: -15px;
    left: 28px;
  }

  &__item-details {
    position: relative;
    background-color: #fff;
    padding: 20px 30px 30px 35px;
    font-family: "Myriad Pro";
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/line.svg);
      background-repeat: no-repeat;
      width: 300px;
      height: 1px;
      top: 0;
      left: 27px;
    }
  }
  &__item-author {
    font-family: "Myriad Pro";
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    padding-left: 30px;
  }

  &__item-title {
    font-size: 18px;
    color: #262626;
    @extend %dmsans-500;
    margin-bottom: 15px;
  }

  &__item-box {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__partner {
    padding: 85px 0 85px;
    display: flex;
    justify-content: space-evenly;
  }

  &__partner-img {
    object-fit: contain;
  }
}

@import "media";
