@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 45px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  padding-left: 176px;
  &__list {
    display: flex;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $accent-dark;
  }
  &__item {
    padding-right: 35px;
  }
  &__link {
    color: #436372;
  }
}

.user-nav {
  display: flex;

  &__num-like {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 11px;
    right: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
  }

  &__cart {
    position: relative;
    background-color: #fcd7b6;
    padding: 20px 40px 20px 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 52px;
  }

  &__num-cart {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 11px;
    right: 30px;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
  }

  &__search {
    margin-right: 30px;
  }

  &__menu {
    margin-left: 20px;
  }

  &__like {
    position: relative;
    background-color: #fcd7b6;
    padding: 20px 30px 20px 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 52px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/stick.png);
      height: 32px;
      width: 1px;
      top: 13px;
      right: 2px;
    }
  }

  &__search-block {
    position: relative;
  }
}

.footer {
  background-color: #fff;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 67px;
  border-bottom: 1px solid #dae4e9;
  @extend %rubik-400;
  color: #7b7b7b;

  &__item-account {
    margin-right: 85px;
  }

  &__item-servises {
    transform: translateX(-59px);
  }

  &__item-newsletter {
    max-width: 275px;
  }

  &__item-text {
    margin-bottom: 37px;
    font-size: 14px;
    line-height: 24px;
  }

  &____item-form {
    display: flex;
    align-items: center;
  }

  &__item-input {
    width: 170px;
    padding: 12px 16px;
    background-color: $latte;
    color: #234969;
    @extend %dmsans-400;
    font-size: 12px;
    border: none;
  }

  &__item-button {
    width: 100px;
    height: 40px;
    @extend %dmsans-400;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    border: none;
    background-color: $accent;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
    margin-bottom: 14px;
  }

  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $default;
  }

  .footer-logo__img {
    transform: translateY(-35%);
    margin-bottom: 9px;
  }

  &__item-contacts {
    max-width: 200px;
    margin-right: 30px;
  }

  &__contacts-item {
    margin-bottom: 10px;
  }

  &__contacts-link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $default;
  }
}

.footer-bottom {
  padding: 28px 0 40px;
  display: flex;
  justify-content: space-between;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: $default;

  &__list {
    display: flex;
  }

  &__nav-link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $default;
  }

  &__item + .footer-bottom__item {
    padding-left: 30px;
  }
}

.container--middle {
  max-width: 1490px;
  margin: 0 auto;
}
.top-slider {
  &__box {
    background-color: #fcd7b6;
    padding: 100px 15px 60px;
    max-width: 1770px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-top: 115px;
    padding-left: 130px;
  }
  &__title {
    max-width: 480px;
    text-transform: uppercase;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $accent-darkest;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 375px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 55px;
  }

  &__link {
    @extend %main-btn;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      padding-left: 12px;
      button {
        padding: 0;
        font-size: 10.8px;
        @extend %rubik-500;
        color: $accent-darkest;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
      }
      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
  &__servises {
    &-inner {
      background-color: $latte;
      display: flex;
      justify-content: space-between;
    }

    &-title {
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
    }

    &-text {
      @extend %dmsans-400;
      font-size: 16px;
      line-height: 30px;
      color: #585858;
    }

    &-item {
      padding: 35px 145px 35px 230px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../images/servise-1.png);
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
        left: 147px;
        top: 48px;
      }
    }

    &-item--delivery {
      border-left: 1px solid #e8e4df;
      border-right: 1px solid #e8e4df;
      &::before {
        content: "";
        background-image: url(../images/servise-2.png);
      }
    }

    &-item--payment {
      &::before {
        content: "";
        background-image: url(../images/servise-3.png);
        left: 151px;
        top: 38px;
      }
    }
  }
}

.product {
  padding: 58px 0 0;

  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 23px;
  }

  &__button {
    margin-left: 15px;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    & + .mixitup-control-active {
      color: $black-title;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
  }

  &__category {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 90px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 30px;
  }

  &-item {
    padding: 30px 20px 20px;
    text-align: center;
    max-width: 270px;
    min-height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    &__img-box {
      position: relative;
      overflow: hidden;
    }

    &__img {
      height: 215px;
      width: 230px;
      object-fit: contain;
      object-position: center;
    }
    &:hover {
      .product-item__link-box {
        transform: translateY(0);
      }
    }

    &__link-box {
      position: absolute;
      transition: 0.3s;
      bottom: 15px;
      display: flex;
      left: 15px;
      transform: translateY(300%);
    }

    &__link {
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      background-color: #fff;
      padding: 12px;
      margin-left: 15px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      &:hover {
        background-color: $accent;
        path {
          fill: #fff;
        }
      }
    }

    &__title {
      @extend %dmsans-500;
      font-size: 16px;
      line-height: 35px;
      padding: 49px 0 0px;
      color: $accent-darkest;
    }

    &__price {
      @extend %dmsans-700;
      font-size: 16px;
      color: $accent;
      margin-bottom: 15px;
    }
  }
}

.product-special {
  padding: 190px 0 90px;

  &__items {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    background-color: #feefe2;
    padding: 0 145px 85px 145px;
  }

  &__item--right {
    padding: 0 46px 85px 145px;
  }

  &__item-title {
    font-size: 26px;
    line-height: 32px;
    color: $accent-darkest;
    @extend %dmsans-700;
    margin-bottom: 20px;
  }

  &__item-title--right {
    max-width: 350px;
    margin-bottom: 10px;
  }

  &__item-descr {
    font-size: 16px;
    line-height: 30px;
    color: $accent-darkest;
    @extend %dmsans-400;
    margin-bottom: 50px;
  }

  &__item-img {
    height: 413px;
    width: 230px;
    margin-top: -97px;
    margin-right: 20px;
  }

  &__item-content {
    padding-top: 105px;
  }

  &__item-content--right {
    padding-left: 40px;
    padding-top: 92px;
  }

  &__item-link {
    color: $accent-dark;
    font-size: 15px;
    @extend %rubik-500;
    padding: 20px 85px 20px 19px;
    border: 1px solid #b3b7b5;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrow-btn-dark.svg);
      background-repeat: no-repeat;
      height: 9px;
      width: 22px;
      top: 26px;
      right: 19px;
    }
  }
}

.product-new {
  padding-bottom: 120px;
  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 23px;
  }

  &__button {
    margin-left: 15px;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    & + .mixitup-control-active {
      color: $black-title;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__item-content {
    position: absolute;
    top: 35px;
    left: 35px;
    max-width: 180px;
  }

  &__item-title {
    font-size: 20px;
    @extend %dmsans-700;
    color: #191919;
    margin-bottom: 10px;
  }

  &__item-descr {
    font-size: 16px;
    color: $accent;
    @extend %dmsans-700;
  }
}

.product-video {
  background-image: url(../images/bg-video.png);
  background-color: #cacaca;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 435px;

  &__link {
    display: block;
    text-align: center;
    padding-top: 190px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/play-btn.svg);
      background-repeat: no-repeat;
      width: 135px;
      height: 135px;
      transform: translateX(-45%);
    }
  }
}

.insights {
  margin-bottom: -330px;
  background-color: $latte;
  &__inner {
    transform: translateY(-347px);
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
  }

  &__link {
    padding-right: 25px;
    @extend %dmsans-700;
    font-size: 16px;
    color: #191919;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/insights-angle.svg);
      background-repeat: no-repeat;
      height: 17px;
      width: 8px;
      top: 5px;
      right: 0px;
    }
  }

  &__item-img {
    width: 370px;
    height: 250px;
  }

  &__item-content {
    padding: 35px 30px 15px 30px;
    background-color: #fff;
    position: relative;
  }

  &__item-news {
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: $accent;
    @extend %poppins-700;
    padding: 6px 30px;
    border-radius: 15px;
    top: -15px;
    left: 28px;
  }

  &__item-details {
    position: relative;
    background-color: #fff;
    padding: 20px 30px 30px 35px;
    font-family: "Myriad Pro";
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/line.svg);
      background-repeat: no-repeat;
      width: 300px;
      height: 1px;
      top: 0;
      left: 27px;
    }
  }
  &__item-author {
    font-family: "Myriad Pro";
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    padding-left: 30px;
  }

  &__item-title {
    font-size: 18px;
    color: #262626;
    @extend %dmsans-500;
    margin-bottom: 15px;
  }

  &__item-box {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__partner {
    padding: 85px 0 85px;
    display: flex;
    justify-content: space-evenly;
  }

  &__partner--related {
    padding: 80px 0 0px;
  }

  &__partner-img {
    object-fit: contain;
  }
}

.top {
  &__inner {
    background-color: #edf1f4;
    padding: 30px 0 30px;
    text-align: center;
  }

  &__title {
    font-size: 36px;
    @extend %rubik-300;
    color: #222933;
    margin-bottom: 10px;
  }
}
.breadcrumbs {
  display: flex;
  justify-content: center;
  &__item {
    padding: 0 10px;
    position: relative;

    &::after {
      position: absolute;
      content: "/";
      left: 55px;
      top: 1px;
      font-size: 18px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #737980;
  }

  &__list {
    display: flex;
  }
}

.login {
  padding: 117px 0 0;

  &__inner {
    max-width: 470px;
    margin: 0 auto;
  }

  &__label {
    @extend %rubik-400;
    font-size: 14px;
    margin-bottom: 25px;
    display: block;
    color: #436372;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid #f6f6f6;
    height: 60px;
    margin-top: 12px;
    padding: 0 15px;
  }

  &__button {
    display: block;
    width: 100%;
    background-color: $accent;
    font-size: 18px;
    @extend %rubik-500;
    color: #fff;
    padding: 20px 0;
    border: none;
    margin-top: 40px;
    margin-bottom: 35px;
  }

  &__link-password {
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
    margin-left: 214px;
  }

  &__register {
    border-top: 1px solid #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__register-link {
    padding: 30px 0 25px;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }

  &__register-createlink {
    @extend %rubik-500;
    font-size: 18px;
    color: #243f4d;
    border: 2px solid $accent;
    display: block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 117px;
  }

  &__partner {
    background-color: $latte;
  }
  &__partner-inner {
    padding: 75px 0 90px;
    display: flex;
    justify-content: space-evenly;
  }

  &__partner-img {
    object-fit: contain;
  }
}

.shop,
.shop-page {
  &__inner {
    display: flex;
    padding: 120px 0 0;
  }

  &__filters {
    margin-right: 30px;
    max-width: 275px;
    width: 100%;
  }

  &__category,
  &__brand {
    margin-bottom: 35px;
  }

  &__price {
    margin-bottom: 55px;
  }

  .irs--flat .irs-bar {
    top: 28px;
    height: 4px;
    background-color: $accent;
  }

  .irs--flat .irs-line {
    top: 28px;
    height: 3px;
    background-color: #e1e4e9;
    border-radius: 4px;
  }

  .irs--flat .irs-handle {
    top: 22px;
    width: 16px;
    height: 15px;
    background-color: $accent;
  }

  .irs--flat .irs-min,
  .irs--flat .irs-max {
    display: none;
  }

  .irs--flat .irs-from,
  .irs--flat .irs-to,
  .irs--flat .irs-single {
    display: none;
  }

  .irs--flat .irs-handle > i:first-child {
    display: none;
  }

  &__price-label {
    @extend %rubik-400;
    margin-top: 10px;
    font-size: 14px;
    line-height: 43px;
    color: $accent-darkest;
  }

  &__price-from {
    margin-right: 147px;
  }

  &__category-checkbox {
    display: flex;
    justify-content: space-between;
    color: $accent-darkest;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 43px;
    padding: 3px 23px 2px 15px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/filter-angle.svg);
      height: 12px;
      width: 7px;
      right: 20px;
      top: 18px;
    }
  }

  &__category-checkbox--brand {
    &::after {
      display: none;
    }
  }

  &__category-input {
    @extend %checkbox-hidden;
    &:checked + .shop__category-checkbox {
      background-color: #edf1f4;
    }
  }

  &__category-input {
    @extend %checkbox-hidden;
    &:checked + .shop-page__category-checkbox {
      background-color: #edf1f4;
    }
  }

  &__brand-input {
    @extend %checkbox-hidden;
    &:checked + .shop__category-checkbox {
      background-color: #edf1f4;
      .shop__brand-number {
        color: $accent-darkest;
      }
    }
  }

  &__brand-input {
    @extend %checkbox-hidden;
    &:checked + .shop-page__category-checkbox {
      background-color: #edf1f4;
      .shop-page__brand-number {
        color: $accent-darkest;
      }
    }
  }

  &__category-title {
    @extend %dmsans-700;
    font-size: 18px;
    color: $accent-darkest;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 27px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/category-line.svg);
      width: 40px;
      height: 3px;
      left: 110px;
      top: 10px;
    }
  }

  &__category-title--brand {
    &::after {
      left: 75px;
    }
  }

  &__category-title--price {
    margin-bottom: 0;
    &::after {
      left: 65px;
    }
  }

  &__category-title--recent {
    &::after {
      left: 185px;
    }
  }

  &__recent-item {
    display: flex;
    margin-bottom: 23px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }

  &__recent-name {
    margin-bottom: 10px;
  }

  &__recent-rate {
    margin-bottom: 10px;
  }

  .jq-ry-container {
    padding: 0;
  }

  &__recent-img-box {
    margin-right: 18px;
  }

  &__brand-number {
    color: #d6d6d6;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }
  //shop-page
  &__product {
    display: flex;
    margin-bottom: 40px;
  }

  &__image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2;
    height: 500px;
    max-width: 370px;
    width: 100%;
    margin-right: 55px;
  }

  &__product-features {
    padding-top: 80px;
  }

  &__product-title {
    @extend %product-title;
  }

  &__product-rate {
    margin-bottom: 20px;
  }

  &__product-price {
    @extend %product-price;
  }

  &__product-descr {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent-darkest;
    margin-bottom: 50px;
  }

  &__product-link {
    padding: 21px 16px 14px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: 0.3s;
    &:hover {
      background-color: $accent;
      path {
        fill: #fff;
      }
    }
  }

  &__product-link--btn {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    background-color: $accent;
    padding: 15px 51px;
    border-radius: 5px;
  }

  &__product-link--cart {
    margin-right: 10px;
    padding: 21px 14px 14px;
    background-color: #fff;
  }

  &-item {
    padding: 30px 20px 20px;
    text-align: center;
    max-width: 270px;
    min-height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img-box {
      position: relative;
      overflow: hidden;
    }

    &__img {
      height: 215px;
      width: 230px;
      object-fit: contain;
      object-position: center;
    }
    &:hover {
      .shop-item__link-box {
        transform: translateY(0);
      }
    }

    &__link-box {
      position: absolute;
      transition: 0.3s;
      bottom: 15px;
      display: flex;
      left: 15px;
      transform: translateY(300%);
    }

    &__link {
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      background-color: #fff;
      padding: 12px;
      margin-left: 15px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      &:hover {
        background-color: $accent;
        path {
          fill: #fff;
        }
      }
    }

    &__title {
      @extend %dmsans-500;
      font-size: 16px;
      line-height: 35px;
      padding: 49px 0 0px;
      color: $accent-darkest;
    }

    &__price {
      @extend %dmsans-700;
      font-size: 16px;
      color: $accent;
      margin-bottom: 15px;
    }
  }
}

.pagination {
  padding: 100px 0 120px;
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 15px;
  }

  &__link {
    @extend %rubik-400;
    font-size: 17px;
    line-height: 30px;
    color: $accent-darkest;
    padding: 15px 20px;
    border: 1px solid $accent;
  }

  &__link--active {
    background-color: $accent;
    color: #fff;
  }

  &__next {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent-darkest;
    padding: 10px 20px;
    border: 1px solid $accent;
  }

  &--shop-page {
    padding: 35px 0 120px;
    justify-content: start;
  }
}

.product-details {
  padding: 120px 0 100px;
  &__slide-thumbs {
    width: 140px;
    margin-right: 25px;
  }

  &__slide {
    display: flex;
  }

  &__inner {
    display: flex;
  }

  &__slide-thumb {
    width: 141px;
    height: 161px;
    margin-bottom: 18px;
    img {
      width: 140px;
      height: 160px;
    }
  }

  &__title {
    @extend %product-title;
  }

  &__rate {
    margin-bottom: 20px;
  }

  &__price {
    @extend %product-price;
  }

  &__descr {
    @extend %product-descr;
  }

  &__link {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    background-color: $accent;
    padding: 15px 51px;
    border-radius: 5px;
  }

  .jq-number__field {
    width: 100px;
    border: 1px solid $accent;
    border-bottom-color: none;
    box-shadow: none;
    border-radius: 0;
    width: 150px;
    height: 50px;
  }

  .jq-number {
    padding: 0;
  }

  .jq-number__spin {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 14px;
    border: 1px solid $accent;
    border-bottom-color: none;
    border-radius: 0;
    background: transparent;
    box-shadow: 0;
    cursor: pointer;
  }

  .minus {
    padding: 21px;
    top: 0;
    width: 50px;
    height: 50px;
    left: 0;
  }
  .jq-number__spin.minus:after {
    content: "-";
    @extend %rubik-400;
    font-size: 15px;
    color: #333;
    top: 13px;
    left: 20px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }

  .plus {
    padding: 21px;
    width: 50px;
    height: 50px;
  }

  .jq-number__spin.plus:after {
    content: "+";
    @extend %rubik-400;
    font-size: 15px;
    color: #333;
    top: 13px;
    left: 20px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }

  .jq-number__field input {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 29px;
    width: 100%;
    padding: 8px 9px;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    color: #333;
  }

  &__num {
    margin-right: 15px;
  }

  &__link-box {
    margin-bottom: 50px;
  }

  &__item-link {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent-darkest;
  }

  &__type {
    display: flex;
    flex-direction: column;
  }

  &__slide-big {
    width: 387px;
    margin-right: 70px;
    img {
      height: 530px;
      width: 387px;
    }
  }
}

.product-tabs {
  padding: 100px 0 120px;
  &__top {
    margin-bottom: 37px;
    margin-left: 165px;
  }

  &__tab {
    display: inline-block;
    width: 242px;
    height: 52px;
    border-radius: 5px;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 50px;
    color: $accent-darkest;
    background-color: #edf1f4;
    text-align: center;
    & + .product-tabs__tab {
      margin-left: 13px;
    }
  }

  &__tab--active {
    color: #fff;
    background-color: $accent;
  }

  &__content {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent-darkest;
  }

  &__content-item {
    display: none;
    &.product-tabs__content-item--active {
      display: block;
    }
  }
}

.product-related {
  padding: 0 0 390px;
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    margin-bottom: 45px;
  }

  &__slider {
    margin-left: -30px;
  }

  &__slider-items {
    position: relative;
  }

  .slick-prev {
    position: absolute;
    right: 70px;
    top: -79px;
    border: 1px solid #edf1f4;
    background-color: transparent;
    font: none;
    font-size: none;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    outline: none;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/left-arrow-slide.svg);
      width: 25px;
      height: 10px;
      left: 11px;
      top: 20px;
    }
    &:hover {
      border: 1px solid $accent;
    }
  }

  .slick-next {
    position: absolute;
    right: 70px;
    position: absolute;
    right: 0;
    top: -79px;
    border: 1px solid #edf1f4;
    background-color: transparent;
    font: none;
    font-size: none;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    outline: none;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/right-arrow-slide.svg);
      width: 25px;
      height: 10px;
      left: 11px;
      top: 20px;
    }
    &:hover {
      border: 1px solid $accent;
    }
  }

  &__item {
    padding: 30px 20px 20px;
    text-align: center;
    max-width: 270px;
    min-height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  &__img-box {
    position: relative;
    overflow: hidden;
  }

  &__img {
    height: 215px;
    width: 230px;
    object-fit: contain;
    object-position: center;
  }

  &:hover {
    .product-related__link-box {
      transform: translateY(0);
    }
  }

  &__link-box {
    position: absolute;
    transition: 0.3s;
    bottom: 15px;
    display: flex;
    left: 15px;
    transform: translateY(300%);
  }

  &__link {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    padding: 12px;
    margin-left: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background-color: $accent;
      path {
        fill: #fff;
      }
    }
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    height: 466px;
    margin-top: 38px;
    margin-right: -25px;
    margin-left: 14px;
  }

  &__item-title {
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 35px;
    padding: 49px 0 0px;
    color: $accent-darkest;
  }

  &__price {
    @extend %dmsans-700;
    font-size: 16px;
    color: $accent;
    margin-bottom: 15px;
  }
}

.about {
  padding: 120px 0 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 570px;
    height: 680px;
    margin-right: 50px;
  }

  &__img {
    width: 570px;
    height: 680px;
  }

  &__content {
    padding: 60px 0 60px;
    max-width: 560px;
    width: 100%;
  }

  &__experience {
    display: flex;
    align-items: center;
  }

  &__years {
    @extend %rubik-700;
    font-size: 140px;
    color: $accent;
    margin-right: 30px;
  }

  &__description {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent-darkest;
    max-width: 120px;
  }

  &__mission-title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $accent-darkest;
    margin-bottom: 40px;
  }

  &__mission-description {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent-darkest;
    padding-bottom: 70px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/border-top.svg);
      width: 500px;
      height: 3px;
      bottom: 0;
      left: 0;
    }
  }

  &__achievements {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 528px;
    width: 100%;
  }

  &__item {
    padding-left: 58px;
    position: relative;
  }

  &__item--projects {
    position: relative;
    &::after {
      content: "";
      background-image: url(../images/icons/stick-about.svg);
      height: 80px;
      width: 1px;
      position: absolute;
      color: #e6eaf0;
      font-size: 80px;
      right: -29px;
      top: -4px;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/item-before.svg);
      background-repeat: no-repeat;
      width: 45px;
      height: 45px;
      left: 0;
      top: 10px;
    }
  }

  &__item--revenue {
    position: relative;
    &::after {
      content: "";
      background-image: url(../images/icons/stick-about.svg);
      height: 80px;
      width: 1px;
      position: absolute;
      color: #e6eaf0;
      font-size: 80px;
      right: -29px;
      top: -4px;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/item-before-2.svg);
      background-repeat: no-repeat;
      width: 45px;
      height: 45px;
      left: 0;
      top: 10px;
    }
  }

  &__item--awards {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/item-before-3.svg);
      background-repeat: no-repeat;
      width: 45px;
      height: 45px;
      left: 0;
      top: 10px;
    }
  }

  &__number {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 38px;
    color: $accent-darkest;
  }

  &__descr {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
  }
}

.about-benefits {
  margin: 100px 0 120px;
  background-image: url(../images/benefit-bg.png);
  background-repeat: no-repeat;
  min-height: 320px;
}

.about-team {
  &__inner {
    display: flex;
    margin-bottom: 420px;
  }

  &__content {
    max-width: 320px;
    width: 100%;
    margin-right: 90px;
  }

  &__member_img {
    width: 372px;
    height: 322px;
  }

  &__member_inner {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px 28px 23px;
    max-width: 330px;
    margin-top: -50px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    overflow: overlay;
  }

  &__member_social {
    display: flex;
  }

  &__member_name {
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 26px;
    color: #436372;
    margin-bottom: 5px;
  }

  &__member_position {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #565872;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $accent-darkest;
    margin-bottom: 30px;
  }
  &__descr {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent-darkest;
    margin-bottom: 36px;
  }

  &__member_link {
    margin-left: 7px;
  }

  &__link {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 55px;
    color: #fff;
    padding: 14px 60px 14px 18px;
    background-color: $accent;
    border-radius: 5px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/team-btn-arrow.svg);
      background-repeat: no-repeat;
      width: 17px;
      height: 14px;
      top: 17px;
      right: 17px;
    }
  }

  &__members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
}

@import "media";
